.enlighter-v-standard { margin-top: 10px; margin-bottom: 10px !important; }

.enlighter-v-inline .enlighter { line-height: initial; padding-left: 2px !important; padding-right: 2px !important; }

div.enlighter > div > div { padding-left: 0px !important; }

img { margin-top: 5px; margin-bottom: 5px; }

h1 { font-size: 2.1rem; font-weight: bold; }

h2 { font-size: 1.5rem; font-weight: bold; }

h3 { font-size: 1.2rem; font-weight: bold; }

h4 { font-size: 1.1rem; font-weight: bold; }

p { margin-bottom: 10px; }

a { text-decoration: underline !important; }

ul { margin-left: 2rem !important; margin-bottom: 10px; }

ol { margin-left: 1.25rem !important; margin-bottom: 10px; }

ul > li { list-style: disc; }

ol > li { list-style: decimal; }

blockquote { margin: 10px 20px 10px 20px; border-radius: 10px; background-color: #d1cbcb; padding: 10px; }

td { padding: 3px; border: 1px solid grey; }

th { padding: 3px; border: 1px solid grey; }

.mvp h3 { white-space: nowrap; }

div.mvpBadges { margin-left: auto; margin-right: auto; width: 80%; margin-bottom: 10px; }

div.mvpBadges img { padding-right: 5px; margin-bottom: 0px; padding-bottom: 0px; }

div.url { display: none; }

@media print { div.sidebar { display: none; }
  div.nav { display: none; }
  body { -webkit-print-color-adjust: exact !important; }
  div.url { display: inline-block !important; }
  a.gotop { display: none; } }

pre.mermaid { overflow-x: auto; }

div.imgBlock img { display: inline-block; }

div.bannerContainer { position: relative; }

header { position: relative; z-index: 10; border: red solid 2; }

div.banner { z-index: 0; position: absolute; top: 40px; left: 210px; transform: rotate(37deg); background-color: #EB1F1F; color: white; font-weight: bold; padding: 5px; text-align: center; width: 300px; }

table + p { margin-top: 7px; }

#rp-bar { width: 100%; top: 0; right: 0; position: fixed; z-index: 99999; }

#rp-bar div { height: 100%; float: left; overflow: hidden; position: relative; }

#rp-read { background-color: #EB1F1F; }

#rp-unread { background-color: #808080; }

div.post-preview:not(:last-of-type) { border-bottom: 1px solid rgba(209, 213, 219, 0.5); margin-bottom: 5px; }

a.expired { vertical-align: super; font-size: smaller; text-underline-offset: -0.3em; text-decoration: underline; }
