/*
@font-face {
    font-family: "Inconsolata";
    src: url("/fonts/Inconsolata-Regular.ttf") format('truetype');
}

.enlighter-text 
{
    font-family: Inconsolata !important;
}
*/
.enlighter-v-standard { margin-top: 10px; margin-bottom: 10px !important; }

.enlighter-v-inline .enlighter { line-height: initial; padding-left: 2px !important; padding-right: 2px !important; }

div.enlighter > div > div { padding-left: 0px !important; }

img { margin-top: 5px; margin-bottom: 5px; }

h1 { font-size: 2.1rem; font-weight: bold; }

h2 { font-size: 1.5rem; font-weight: bold; }

h3 { font-size: 1.2rem; font-weight: bold; }

p { margin-bottom: 10px; }

a { text-decoration: underline !important; }

ul { margin-left: 2rem !important; margin-bottom: 10px; }

ol { margin-left: 1.25rem !important; margin-bottom: 10px; }

ul li { list-style: disc; }

ol li { list-style: decimal; }

blockquote { margin: 10px 20px 10px 20px; border-radius: 10px; background-color: #d1cbcb; padding: 10px; }

td { padding: 3px; border: 1px solid grey; }

th { padding: 3px; border: 1px solid grey; }
